
body {
    background-image: url(https://wallpaperplay.com/walls/full/1/f/e/181377.jpg);
    background-size: cover;
    background-attachment: fixed;
    max-width: 100%;
    height: auto;}

    #img-div {max-width: 800px;
        height: auto;
        padding: 30px 50px 10px; 
        margin: 30px auto;
        border-radius: 20px;
        background: #000000de;
        text-align: center;}

#logo {max-width: 10%; height: auto;}

#title {font-family:'Star Jedi', arial;
            font-size: 35px;
            text-shadow: 4px 4px 4px #505050;
            color: white;
            line-height: 0em;}
            @media (max-width: 464px) {#title{font-size: 22px;}}
            @media (max-width: 391px) {#title{font-size: 18px;}}

    
#title-caption {font-family:'Star Jedi', arial;
        font-size: 20px;
        text-shadow: 4px 4px 4px #505050;
        color: white;}
        @media (max-width: 464px) {#title-caption{font-size: 16px;}}
        @media (max-width: 391px) {#title-caption{font-size: 14px;}}
       
            
#image {max-width: 100%;
            height: auto;
            border-radius: 20px; 
            border-style: solid; 
            border-color: white;
            text-align: center;}       
                
#img-caption {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: white;}
            @media (max-width: 464px) {#img-caption{font-size: 12px;}}
            @media (max-width: 391px) {#img-caption{font-size: 9px;}}

h2{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    text-align: justify; 
    Color: white;
    font-size: 20px;
    font-weight: bold;
     line-height: 1.5em;}
     @media (max-width: 464px) {h2{font-size: 14px;}}
   

p{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    text-align: justify; 
    Color: white;
    font-size: 16px;
    line-height: 1.5em;}
    @media (max-width: 464px) {p{font-size: 12px;}}

#tribute-info {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    text-align: center;
    Color: white;
    font-size: 18px;}
    @media (max-width: 464px) {#tribute-info{font-size: 12px;}}
    @media (max-width: 391px) {#tribute-info{font-size: 10px;}}

#tribute-link {color: #5a89ee;}
        
 


